/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Segoe UI', 'Helvetica Neue', Arial, 'Liberation Sans', sans-serif;
  font-size: 0.8rem;
  line-height: 1.6;
  color: #222;
  background: #fff;
  margin: 0;
  padding: 0;
}
